<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /peticaofacil/

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^(ckeditor|ckfinder|img|vendor)/(.*)$ public/$1/$2 [L,NC]
    RewriteRule ^(favicon\.ico|robots\.txt)$ public/$1 [L,NC]

    RewriteRule ^ index.php [L]
</IfModule>
