# ===============================
# IDEs / Editors
# ===============================
.idea/
.vscode/

# Composer
vendor/
composer.lock

# Local env
config/env.local

# Logs
storage/logs/
storage/cache/

# Node
node_modules/

# CKFinder uploads (user content)
public/ckfinder/userfiles/

# Simbol links
/css
/img
/js
/ckeditor
/ckfinder